@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

#betaTag {
    margin-left: 2px;
    background-color: #2A2B47;
    border-radius: 100px;
    padding: 1px 4px;
    font-weight: 500;
    color: #FFF;
    transform-origin: left;
    animation: springExpand 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

@keyframes springExpand {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    60% {
        transform: scaleX(1.1);
        opacity: 1;
    }

    80% {
        transform: scaleX(0.95);
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}


body {
    margin: 0;
    min-height: 100dvh;
    width: 100%;
    background-color: #F4F6F8;
    font-family: "Poppins";
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding-top: calc(10px + env(safe-area-inset-top)) !important;
    padding: 0 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(20px);
}

.userPicture {
    height: 44px;
    width: 44px;
    border-radius: 100px;
    background-color: #2A789C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
}

.headerTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerTextTop {
    font-size: 16px;
    color: #2A2B47;
    font-weight: 600;
}

.headerTextBottom {
    font-size: 14px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    border: none;
}

.LiveWidget {
    margin: 20px;
    padding: 15px;
    height: max-content;
    width: calc(100% - 40px);
    border-radius: 30px;
    background-color: #2A2B47;
    box-sizing: border-box;
}
.LiveWidget--full {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    background-color: #2A2B47;
    box-sizing: border-box;
}

.LiveWidgetTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.LiveWidgetTopSectionLeft {
    height: 44px;
    display: flex;
}

.LiveWidgetPicture {
    height: 44px;
    width: 44px;
    border-radius: 100px;
    background-color: #FFF;
    color: #2A2B47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.LiveWidgetFirstInfo {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;
}

.LiveWidgetFirstInfoTop {
    font-size: 12px;
    font-weight: 500;
}

.LiveWidgetFirstInfoBottom {
    font-size: 12px;
    font-weight: 400;
}

.LiveWidgetTopSectionRight {
    height: 44px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.LiveWidgetTopSectionRightTopText {
    font-size: 10px;
    font-weight: 600;
    max-width: 120px;
}

.LiveWidgetTopSectionRightBottomText {
    font-size: 10px;
    font-weight: 400;
}

.LiveWidgetBottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}

.progressBar {
    background-color: black;
    height: 30px;
    width: 100%;
    border-radius: 100px;
    position: relative;
}

.progressBarSlider {
    height: 30px;
    border-radius: 100px;
    width: 20%;
    background-color: #325B7A;

}

.progressBarTimeWrapper {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBarTime {}

.schedule {
    margin: 0 20px 200px 20px;
    width: calc(100% - 40px);
}

.scheduleHeader {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
}

.scheduleHeaderName {
    font-weight: 600;
}

.scheduleHeaderDate {
    font-weight: 500;
}

.scheduleNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scheduleNavButton {
    font-size: 14px;
    font-weight: 400px;
    height: 44px;
    width: fit-content;
    background-color: #FFF;
    border-radius: 100px;
    padding: 0 30px;
}

.scheduleNavButton--focus {
    background-color: #2A2B47;
    color: white;
}

.scheduleContent {
    width: 100%;
    margin-top: 20px;
    height: fit-content;
}

.scheduleSlot {
    border-radius: 20px;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    transition: 0.3s;
}

.slot-active {
    border: 1px solid #325B7A;
}

.slot-active .scheduleSlotActivityWrapper::before {
    background-color: #325B7A;
}

.slot-past {
    opacity: 0.5;
}

.scheduleSlotTimeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 40px;
}

.scheduleSlotTimeWrapperFrom {
    font-size: 24px;
    font-weight: 600;
}

.scheduleSlotTimeWrapperTo {
    font-size: 16px;
    font-weight: 400;
}

.scheduleSlotActivityWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background-color: #FFF;
    padding: 10px 10px 10px 20px;
    position: relative;
}

.scheduleSlotActivityWrapper::before {
    position: absolute;
    content: '';
    width: 4px;
    border-radius: 10px;
    height: 80%;
    background-color: #2A2B47;
    left: 10px;
}

.scheduleSlotActivityName {
    font-weight: 600;
    font-size: 12px;
}

.scheduleSlotActivityInfo {
    font-weight: 400;
    font-size: 11px;
}

.scheduleSlotActivityKeynote {
    margin-top: 5px;
    background-color: #325B7A;
    border-radius: 10px;
    color: #FFF;
    padding: 4px;
}

.scheduleSlotActivityKeynoteTitle {
    font-weight: 600;
}

.scheduleSlotActivityKeynoteNote {
    font-weight: 400;
}

.scheduleSlotBreak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    min-height: 64px;
    border-radius: 20px;
    border: 2px dashed #2A2B47;
    background-color: #FFF;
    padding: 10px;
}

.scheduleSlotBreakText {
    font-weight: 600;
}

footer {
    height: fit-content;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: calc(20px + env(safe-area-inset-bottom)) !important;
    padding: 0 20px 20px 20px;
    z-index: 1000;
}

@media (min-width: 1000px) {
    footer {
        justify-content: center;
        transition: 1s ease-in-out !important;
        flex-direction: row-reverse;
    }

    .bottomDock {
        width: 50% !important;
    }

    nav {
        width: 50% !important;
        margin-right: 10px;
    }
}


.bottomDock {
    display: none;
    color: #A4A4A4;
    width: 100%;
    border-radius: 100px;
    height: 64px;
    background-color: #2A2B47;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transform-origin: center;
    animation: docShow 0.4s cubic-bezier(0.68, -0.6, 0.32, 0.2) forwards;
}

@keyframes docShow {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    60% {
        transform: scaleX(1.1);
        opacity: 1;
    }

    80% {
        transform: scaleX(0.95);
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.bottomDock.hidden {
    animation: docHide 0.4s cubic-bezier(0.68, -0.6, 0.32, 0.2) forwards;
}

@keyframes docHide {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }

    20% {
        transform: scaleX(1.05);
    }

    40% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

.bottomDockLiveWidgetPicture {
    min-height: 44px;
    min-width: 44px;
}

.bottomDockWrapper {
    color: #FFF;
    padding-left: 10px;
    min-width: 150px;
}

.bottomDockLiveWidgetFirstInfoTop {}

.bottomDockLiveWidgetTopSectionRightTopText {
    font-size: 8px;
}

.progressBarDock {}

nav {
    display: flex;
    color: #A4A4A4;
    width: 100%;
    border-radius: 100px;
    height: 64px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}

.navButton i {
    font-size: 22px;
}

.navButton--focus {
    color: white;
    background-color: #363636;
    border-radius: 100px;
    width: fit-content;
    padding: 0 10px;
}

.navButtonText {
    font-weight: 500;
    margin-left: 10px;
}

#message1 {
    font-size: 10px;
    margin-right: 10px;
}

/*Ustawienia*/

.headerTextTopAsSettings {
    font-size: 18px;
    font-weight: 600;
}

.settingsButtonClose {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    padding: 0 20px;
    height: 44px;
    width: 44px;
    font-size: 22px;
}

.settingsContent {
    margin: 0 20px 200px 20px;
    width: calc(100% - 40px);
}

.settingsSectionHeader {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}

.settingsSectionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 0 20px;
}

.settingsSectionContentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.settingsSectionContent-button{

}

.settingsSectionContent-typeColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settingsSectionContentHeader {
    font-size: 12px;
    font-weight: 600;
}

.settingsSectionContentText {
    font-size: 12px;
    font-weight: 500;
}

#rotate-overla {
  position: fixed;
  inset: 0;
  background: black;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 24px;
}